@font-face {
  font-family: magicSchool1;
  src: url(fonts/MagicSchoolOne.ttf);
}

@font-face {
  font-family: magicSchool2;
  src: url(fonts/MagicSchoolTwo.ttf);
}

.hidden {
  display: none;
}

h1 {
  text-align: center;
  font-family: magicSchool2;
  font-size: 7em;
  color: #ffb72d;
  margin: 0;
}

h2 {
  color: #050c26;
  font-family: magicSchool2;
  font-size: 2em;
  text-align: center;
}

header {
  margin: auto;
}

body {
  background-color: #050c26;
}

hr {
  color: #ffb72d;
  border: 2px solid #ffb72d;
  margin-left: 2em;
  margin-right: 2em;
  margin-top: 1em;
}

/*student list*/

#student_list {
  background-color: white;
  border: 6px solid #ffb72d;
  margin-top: auto;

  border-radius: 5px;
}

#student_container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  justify-content: center;
  border-radius: 5px;
  margin-left: 1em;
  margin-right: 1em;
}
/*student article*/
article.student_article {
  border: 2px solid #050c26;
  border-radius: 25px;
  padding: 10px;
  margin: 1em;
  display: grid;
  justify-content: center;
}

article .fullname {
  font-family: "Lobster", cursive;
  font-size: 1.4em;
  display: flex;
  justify-content: center;
}

article .lastname {
  margin-left: 0.4em;
}

article h3 {
  margin-top: 0.5em;
  /* text-shadow: -1px -1px 0 #050c26, 1px -1px 0 #050c26, -1px 1px 0 #050c26,
    1px 1px 0 #050c26; */
}

#image_wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}

.student_img {
  grid-column: 2/3;
  min-height: 150px;
}

.prefect_badge {
  max-height: 3.5em;
  position: relative;
  right: 2em;
}

.article_line {
  color: #050c26;
  border: 1px solid #050c26;
  margin-left: 1em;
  margin-right: 1em;
  margin-top: 1em;
}

.descrip {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin-left: 1em;
  margin-right: 1em;
}

.expel_button {
  background-color: white;
  border: 2px solid #050c26;
  border-radius: 5px;
  font-family: "Lobster", cursive;
  font-size: 1.3em;
  cursor: pointer;
}

.expel_button:hover {
  color: #ffb72d;
  background-color: #e50505;
}

.article_house {
  max-height: 3em;
}
/*colors for names in articles based on houses*/
.text_color_gryf {
  color: #5d0400;
}

.text_color_slyth {
  color: #003407;
}
.text_color_raven {
  color: #0e1a40;
}

.text_color_huffle {
  color: #bf8106;
}

/*filter layout*/
#filter_sort_search_container {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

#filter_container {
  display: flex;
}

#filter_container ul {
  padding: 0;
}

#filter_container h2 {
  margin-left: 1em;
  margin-right: 0;
  margin-top: auto;
  margin-bottom: auto;
}

/*filter buttons*/

img.filter {
  max-height: 6em;
  margin-left: 1em;
  margin-right: 1em;
  padding: 5px;
}

img.filter:hover {
  scale: 1.1;
}

.chosen {
  background-color: #050c26;
  border-radius: 20px;
  box-shadow: 0px 0px 5px 5px #ffb72d;
}
/* expelled*/
#status_container {
  margin-top: 1em;
  display: flex;
}

#status_containerh2 {
  margin-left: 1em;
  margin-right: 0;
  margin-top: auto;
  margin-bottom: auto;
}

#status_container img.filter {
  margin-right: 0;
}

/*sort layout*/

#sort_and_search {
  display: grid;
  grid-template-columns: 5fr 1fr 3fr;
}

/*sorting buttons border: 1px solid #050c26;*/
#sorting {
  display: flex;
}

#sorting h2 {
  margin-left: 1em;
  margin-right: 0;
  margin-top: auto;
  margin-bottom: auto;
}

.sort {
  font-family: "Qwitcher Grypen", cursive;
  font-size: 2em;
  background-color: white;
  margin-right: 1em;
  margin-left: 1em;
  margin-bottom: 0;
  margin-top: 0;
  padding: 5px;

  border-radius: 5px;
  cursor: pointer;
}

.sort_wrapper {
  display: flex;
}

.arrow {
  display: flex;
}

.arrows {
  max-height: 1em;
  min-height: 2em;
  margin: auto;
}

/*search bar*/
#search_container {
  margin-right: 2em;
  grid-column: 3/4;
  display: flex;
}

#search_container img {
  max-height: 3.5em;
  margin-right: 1em;
}

.search {
  font-family: "Qwitcher Grypen", cursive;
  font-size: 2em;
  border: 1px solid #050c26;
  border-radius: 5px;
  height: 1.6em;
  width: 80%;
  padding-left: 20px;
  padding-right: 10px;

  outline: 0;
  background-color: white;
}

/*pop up padding: 2px 14px 2px 0px;*/
#popup {
  z-index: 1;
  width: 100vw;
  height: 100vw;
  background-color: #00000099;
  position: fixed;
  top: 0;
  display: none;
  justify-content: center;
}

#popupinfo {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin-top: 10em;

  width: 50vw;
  margin-inline: auto;
  border: 5px solid #ffb72d;
  border-radius: 10px;
  background-color: #ffffff;
}

.popup_left {
  text-align: center;
  border-right: 3px dashed #ffb72d;
}

.popup_fullname {
  display: flex;
  justify-content: center;
}
.popup_firstname {
  margin-right: 0.4em;
}

.popup_lastname {
  margin-left: 0.3em;
}

.popup_fullname h3 {
  font-family: "Lobster", cursive;
  font-size: 1.7em;
  margin-bottom: 0.5em;
}

.popup_studentimg {
  grid-row: 2;
  min-height: 150px;
  justify-self: center;
}

.popup_textinfo {
  display: grid;
  justify-content: center;
}

.popup_left p {
  color: #050c26;
  font-family: "Lobster Two", cursive;
  font-size: 1.4em;
  text-align: left;
}

p.popup_gender {
  margin-bottom: 0;
}

p.popup_bloodtype {
  margin-top: 0.5em;
}

.popup_right {
  display: grid;
}

.popup_right p {
  color: #050c26;
  font-family: "Lobster Two", cursive;
  font-size: 1.4em;
  margin-left: 1em;
  margin-bottom: 0%;
}

.popup_closebutton {
  margin: 0.2em;
  display: grid;
}

#close_popup {
  font-family: "Qwitcher Grypen", cursive;
  color: #050c26;
  font-size: 2em;
  background-color: white;
  border: 2px solid #ffb72d;

  border-radius: 5px;
  min-width: 2em;
  max-height: 3em;
  justify-self: end;
  cursor: pointer;
}

#close_popup:hover {
  background-color: #e50505;
}

.status_wrapper {
  display: flex;
  justify-content: space-around;
}

#prefect_img {
  max-height: 6em;
}

.popup_makebuttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 1.5em;
  gap: 2em;
}

#toggle_prefect {
  color: #050c26;
  background-color: white;
  border: 2px solid #ffb72d;
  border-radius: 5px;
  font-family: "Qwitcher Grypen", cursive;
  font-size: 2em;
  cursor: pointer;
}

#toggle_prefect:hover {
  scale: 1.1;
}

#toggle_inquis {
  color: #050c26;
  background-color: white;
  border: 2px solid #ffb72d;
  border-radius: 5px;
  font-family: "Qwitcher Grypen", cursive;
  font-size: 2em;
  cursor: pointer;
}

#toggle_inquis:hover {
  scale: 1.1;
}

/*pop up warning removeother*/

.hide {
  visibility: hidden;
}

.modal {
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.warning {
  box-shadow: 1px 1px 10px #333;
  border-radius: 12px;
  padding: 2em;
  background-color: white;
  position: relative;
}

button.close_removeother {
  position: absolute;
  right: -1em;
  top: -1em;
  border-radius: 50%;
  width: 2em;
  height: 2em;
}

/*animationer*/
.rotate {
  -ms-transform: rotate(180deg); /* IE 9 */
  transform: rotate(180deg);
}
/* .rotate {
  animation-name: rotation;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}

@keyframes rotation {
  100% {
    transform: rotate(180deg);
  }
}
 */
/* responsive styling*/

@media (min-width: 780px) {
}

@media (min-width: 1300px) {
  #student_list {
    margin-left: 10em;
    margin-right: 10em;
  }
}

@media (min-width: 1500px) {
  header {
    margin-left: 20em;
    margin-right: 20em;
  }

  #student_list {
    margin-left: 20em;
    margin-right: 20em;
  }
}
