@font-face {
  font-family: magicSchool1;
  src: url(fonts/MagicSchoolOne.ttf);
}

@font-face {
  font-family: magicSchool2;
  src: url(fonts/MagicSchoolTwo.ttf);
}

.hidden {
  display: none;
}

h1 {
  text-align: center;
  font-family: magicSchool2;
  font-size: 5em;
  color: #ffb72d;
  margin: 0;
}

h2 {
  color: #050c26;
  font-family: magicSchool2;
  font-size: 2em;
  text-align: center;
}

h2.displayed_students {
  font-size: 2em;

  margin-top: 0;
  margin-bottom: 0;
}
header {
  margin: auto;
}

body {
  background-color: #050c26;
}

hr {
  color: #ffb72d;
  border: 2px solid #ffb72d;
  margin-left: 2em;
  margin-right: 2em;
  margin-top: 1em;
}

#hack_hogwarts {
  display: grid;
  justify-items: center;
  margin-top: 3em;
  margin-bottom: 5em;
}

#hack_hogwarts_button {
  color: #050c26;

  border: 5px solid #ffb72d;
  border-radius: 5px;
  font-family: "Qwitcher Grypen", cursive;
  font-size: 5em;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  cursor: pointer;
}

#hack_hogwarts_button:hover {
  background-color: black;
  color: #0ae12a;
  border: 5px solid #0ae12a;
}

.hacked {
  background-color: #0ae12a;
}

.hacked_hogwarts {
  color: #0ae12a;
}

.hacked_color {
  background-color: black;
}

.hacked_border {
  border: 6px solid #0ae12a !important;
}

.hacked_hr {
  color: #0ae12a;
  border: 2px solid #0ae12a;
}

.interface_numbers {
  background-color: white;
  border: 6px solid #ffb72d;
  margin-top: 3em;
  border-radius: 5px;
  margin-bottom: 3em;
  display: grid;
  justify-items: center;
}

.interface_wrapper {
  display: flex;
}

.interface_img {
  max-height: 5em;
}

/*student list*/
#student_list {
  background-color: white;
  border: 6px solid #ffb72d;
  margin-top: auto;

  border-radius: 5px;
}

#student_container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  justify-content: center;
  border-radius: 5px;
  margin-left: 1em;
  margin-right: 1em;
}
/*student article*/
article.student_article {
  border: 2px solid #050c26;
  border-radius: 25px;
  padding: 10px;
  margin: 1em;
  text-align: center;
}

article .fullname {
  font-family: "Lobster", cursive;
  font-size: 1.4em;
  display: flex;
  justify-content: center;
}

article .lastname {
  margin-left: 0.4em;
}

article h3 {
  margin-top: 0.5em;
  /* text-shadow: -1px -1px 0 #050c26, 1px -1px 0 #050c26, -1px 1px 0 #050c26,
    1px 1px 0 #050c26; */
}

article p {
  font-family: "Lobster", cursive;
  font-size: 1.2em;
  margin-bottom: 0em;
  margin-top: 0.5em;
}

#image_wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}

.student_img {
  grid-column: 2/3;
  min-height: 150px;
}

.prefect_badge {
  max-height: 3.5em;
  position: relative;
  right: 2em;
}

.article_line {
  color: #050c26;
  border: 1px solid #050c26;
  margin-left: 1em;
  margin-right: 1em;
  margin-top: 0.3em;
}

.descrip {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin-left: 1em;
  margin-right: 1em;
}

.expel_button {
  background-color: white;
  border: 2px solid #050c26;
  border-radius: 5px;
  font-family: "Lobster", cursive;
  font-size: 1.3em;
  cursor: pointer;
}

.expel_button:hover {
  color: #ffb72d;
  background-color: #e50505;
}

.article_house {
  max-height: 3em;
}
/*colors for names in articles based on houses*/
.text_color_gryf {
  color: #5d0400;
}

.text_color_slyth {
  color: #003407;
}
.text_color_raven {
  color: #0e1a40;
}

.text_color_huffle {
  color: #bf8106;
}

/*filter layout*/

#filter_container h2 {
  margin-left: 1em;
  margin-right: 0;
  margin-top: auto;
  margin-bottom: auto;
}

/*filter buttons*/

img.filter {
  max-height: 6em;
  margin-left: 1em;

  padding: 5px;
}

img.filter:hover {
  scale: 1.1;
}

.chosen {
  background-color: #050c26;
  border-radius: 20px;
  box-shadow: 0px 0px 5px 5px #ffb72d;
}
/* expelled*/
#status_container {
  margin-top: 1em;
  text-align: center;
}

#status_containerh2 {
  margin-left: 1em;
  margin-right: 0;
  margin-top: auto;
  margin-bottom: auto;
}

#status_container img.filter {
  margin-right: 0;
}

/*sorting buttons border: 1px solid #050c26;*/

#sorting {
  text-align: center;
}

#sorting h2 {
  margin-left: 1em;
  margin-right: 0;
  margin-top: auto;
  margin-bottom: auto;
}

.sort {
  font-family: "Qwitcher Grypen", cursive;
  font-size: 2em;
  background-color: white;
  margin-right: 0;
  margin-left: 1em;
  margin-bottom: 0;
  margin-top: 0;
  padding: 5px;

  border-radius: 5px;
  cursor: pointer;
}

/*search bar*/
#search_container {
  margin-right: 2em;
  display: flex;
}

#search_container img {
  max-height: 3.5em;
  margin-right: 1em;
}

.search {
  font-family: "Qwitcher Grypen", cursive;
  font-size: 2em;
  border: 1px solid #050c26;
  border-radius: 5px;
  height: 1.6em;
  width: 80%;
  padding-left: 20px;
  padding-right: 10px;

  outline: 0;
  background-color: white;
}

/*pop up padding: 2px 14px 2px 0px;*/
#popup {
  z-index: 1;
  width: 100vw;
  height: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  justify-content: center;
}

.popup_bg_color {
  z-index: 1;
  width: 100vw;
  height: 100vw;
  position: fixed;
  top: 0;
}

#popupinfo {
  margin-top: 5em;
  margin-inline: auto;
  border: 5px solid #ffb72d;
  border-radius: 10px;
  background-color: #ffffff;
}

.popup_left {
  text-align: center;
}

.popup_fullname {
  display: flex;
  justify-content: center;
}
.popup_firstname {
  margin-right: 0.4em;
}

.popup_lastname {
  margin-left: 0.3em;
}

.popup_fullname h3 {
  font-family: "Lobster", cursive;
  font-size: 1.7em;
  margin-bottom: 0.5em;
}

.popup_studentimg {
  grid-row: 2;
  min-height: 150px;
  justify-self: center;
}

.popup_textinfo {
  display: grid;
  justify-content: center;
}

.popup_left p {
  color: #050c26;
  font-family: "Lobster Two", cursive;
  font-size: 1.4em;
  text-align: left;
}

p.popup_gender {
  margin-bottom: 0;
}

p.popup_bloodtype {
  margin-top: 0.5em;
}

.popup_right p {
  color: #050c26;
  font-family: "Lobster Two", cursive;
  font-size: 1.4em;
  margin-bottom: 0%;
  margin-top: 0%;
  text-align: center;
}
.status_wrapper {
  text-align: center;
  margin: 1em;
}

.popup_makebuttons {
  text-align: center;
  margin: 1em;
}

.popup_closebutton {
  margin: 0.2em;
  display: grid;
}

#close_popup {
  font-family: "Qwitcher Grypen", cursive;
  color: #050c26;
  font-size: 2em;
  background-color: white;
  border: 2px solid #ffb72d;
  border-radius: 5px;
  min-width: 2em;
  max-height: 3em;
  justify-self: end;
  cursor: pointer;
  margin-top: -10em;
}

#close_popup:hover {
  background-color: #ffb72d;
}

#prefect_img {
  max-height: 6em;
}

.popup_house {
  max-height: 6em;
}

.popup_expelled {
  max-height: 6em;
}
.popup_inquis {
  max-height: 6em;
}

#toggle_prefect {
  color: #050c26;
  background-color: white;
  border: 2px solid #ffb72d;
  border-radius: 5px;
  font-family: "Qwitcher Grypen", cursive;
  font-size: 2em;
  cursor: pointer;
}

#toggle_prefect:hover {
  scale: 1.1;
}

#toggle_inquis {
  color: #050c26;
  background-color: white;
  border: 2px solid #ffb72d;
  border-radius: 5px;
  font-family: "Qwitcher Grypen", cursive;
  font-size: 2em;
  cursor: pointer;
}

#toggle_inquis:hover {
  scale: 1.1;
}

/*popup baggrundsfarve*/

.bg_color_gryf {
  background-color: #5d0500af;
}

.bg_color_slyth {
  background-color: #003407a8;
}

.bg_color_raven {
  background-color: #0e1a40bb;
}

.bg_color_huffle {
  background-color: #bf8106b0;
}

/*pop up warning removeother*/

.hide {
  visibility: hidden;
}

.modal {
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.801);
  display: flex;
  justify-content: center;
  align-items: center;
}

.warning {
  display: grid;
  border: 5px solid #ffb72d;
  border-radius: 10px;
  background-color: #ffffff;
  padding: auto;
  background-color: white;
  margin-top: 0;
}

.warning h2 {
  color: #ffb72d;
  font-size: 5em;
  margin: 0;
}

.warning p {
  color: #050c26;
  font-family: "Lobster Two", cursive;
  font-size: 1.4em;
  text-align: left;
  margin-left: 1em;
  margin-right: 1em;
}

button#removeotherbutton {
  color: #050c26;
  background-color: white;
  border: 2px solid #ffb72d;
  border-radius: 5px;
  font-family: "Qwitcher Grypen", cursive;
  font-size: 2em;
  margin-left: 1em;
  margin-right: 1em;
  margin-bottom: 1em;
  margin-top: 0;
  cursor: pointer;
}

#removeotherbutton:hover {
  scale: 1.1;
}

button.close_removeother {
  font-family: "Qwitcher Grypen", cursive;
  color: #050c26;
  font-size: 2em;
  background-color: white;
  border: 2px solid #ffb72d;
  border-radius: 5px;
  min-width: 1.5em;
  max-height: 3em;
  justify-self: end;
  cursor: pointer;
  margin: 0.2em;
}

.close_removeother:hover {
  background-color: #ffb72d;
}

/*cannot be inquis warning*/
.modal_2 {
  z-index: 3;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.801);
  display: flex;
  justify-content: center;
  align-items: center;
}

button#close_cannot_be_inquis {
  color: #050c26;
  background-color: white;
  border: 2px solid #ffb72d;
  border-radius: 5px;
  font-family: "Qwitcher Grypen", cursive;
  font-size: 2em;
  margin-left: 5em;
  margin-right: 5em;
  margin-bottom: 1em;
  margin-top: 0;
  cursor: pointer;
}
.close_cannot_be_inquis:hover {
  scale: 1.1;
}

/*warning cannot expel me*/

.modal_3 {
  z-index: 4;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.801);
  display: flex;
  justify-content: center;
  align-items: center;
}

button#close_cannot_expel_me {
  color: #050c26;
  background-color: white;
  border: 2px solid #ffb72d;
  border-radius: 5px;
  font-family: "Qwitcher Grypen", cursive;
  font-size: 2em;
  margin-left: 5em;
  margin-right: 5em;
  margin-bottom: 1em;
  margin-top: 0;
  padding: 0.5em;
  cursor: pointer;
}

#close_cannot_expel_me:hover {
  scale: 1.1;
}

.sortBy {
  text-decoration: underline;
}

/*animationer*/
.rotation {
  animation-name: rotate;
  animation-duration: 2s;
  animation-iteration-count: 1;
}
/* .rotate {
  animation-name: rotation;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
} */

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}

/* responsive styling*/

@media (min-width: 780px) {
  #filter_sort_search_container {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }

  #filter_container {
    display: flex;
  }

  #filter_container ul {
    padding: 0;
  }

  #status_container {
    margin-top: 1em;
    margin-right: 1em;
    display: flex;
  }

  h1 {
    font-size: 7em;
  }

  .interface_numbers h2 {
    margin: 0.5em;
  }
}
@media (min-width: 900px) {
  .interface_numbers {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 1em;
  }
  #student_list {
    margin: 0;
  }

  /*sort layout*/

  #sort_and_search {
    display: grid;
    grid-template-columns: 5fr 1fr 5fr;
  }

  #sorting {
    display: flex;
  }
  .sort_wrapper {
    display: flex;
  }

  .sort_arrow_img {
    max-height: 2em;
    justify-content: center;
    margin: auto;
  }

  #search_container {
    margin-right: 2em;
    grid-column: 3/4;
  }

  .sort {
    font-family: "Qwitcher Grypen", cursive;
    font-size: 2em;
    background-color: white;
    margin-right: 0.2em;
    margin-left: 1em;
    margin-bottom: 0;
    margin-top: 0;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
  }
}

@media (min-width: 1300px) {
  .interface_numbers {
    display: flex;
    justify-content: space-around;
    max-height: 35em;
    margin-top: 0;
    padding: 1em;
  }
  #student_list {
    margin: 0;
  }

  #popupinfo {
    margin-top: 10em;
    display: grid;
    grid-template-columns: 1fr 2fr;
    width: 50vw;
  }
  .status_wrapper {
    display: flex;
    justify-content: space-around;
  }
  .popup_right {
    display: grid;
    text-align: center;
  }

  .popup_makebuttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 1.5em;
    gap: 2em;
  }

  .popup_left {
    border-right: 3px dashed #ffb72d;
  }
  .popup_right p {
    margin-left: 1em;
  }

  article.student_article {
    display: grid;
    justify-content: center;
  }

  #close_popup {
    margin-top: 0;
  }
}

@media (min-width: 1500px) {
  #student_list {
    margin-left: 10em;
    margin-right: 10em;
  }

  #interface {
    margin-left: 10em;
    margin-right: 10em;
  }
}

@media (min-width: 1800px) {
  #student_list {
    margin-left: 12em;
    margin-right: 12em;
  }

  #interface {
    margin-left: 12em;
    margin-right: 12em;
  }
}
